:root {
    /* Non color variables */
    --maxWidth: 1200px;
    --imageAlpha: 0.5;
    --fontFamily: 'Open Sans', sans-serif;

    /* Light mode colors */
    --colorPrimary: #ff0000;
    --colorSecondary: #ff0000;
    --colorTertiary: #ff0000;
    --colorQuaternary: #ff0000;
    --textOverBackground: #ff0000;
    --linkHover: #ff0000;
    --backgroundColor: #ff0000;
    --colorWhite: #ff0000;
    --colorBlack: #ff0000;
    --colorYtb: #ff0000;
    --colorIg: #ff0000;
    --colorL3: #ff0000;
    --colorL4: #ff0000;
    --colorL5: #ff0000;
    /* */

    --alwaysBlack: #000000;
    --alwaysWhite: #ffffff;
    --alwaysDarkGray: #333333;
    --alwaysMediumGray: #555555;
    --alwaysLightGray: #d8d8d8;

    /* Light mode variables (Better naming) */
    --light-background-color: #fff;
    --light-big-gray: #555;
    --light-film-card-desc: #333;
    --light-contrast-over-background-very-small: #d8d8d8;
    --light-contrast-over-background-small: #858585;
    --light-contrast-over-background-medium: #555;
    --light-contrast-over-background-large: #333;
    --light-text-over-background: #333;
    --light-inerted-background-color: #d8d8d8;
    --light-link-hover-color: #ff0000;
    --light-ig-color: #c13584;
    --light-ytb-color: #bb0000;
    --light-l3-color: #3d3a33;
    --light-l4-color: #0077b5;
    --light-l5-color: #06aa45;
    
    --light-singleCatalogueColor: #333;
    --light-singleCatalogueBackgroundColor: #fff;
    --light-singleCatalogueBorderColor: #fff;
    --light-alt-singleCatalogueColor: #d8d8d8;
    --light-alt-singleCatalogueBackgroundColor: #333;
    --light-alt-singleCatalogueBorderColor: #333;
    
    --light-search-button-color: #555;
    --light-search-button-hover-color: #fff;
    --light-search-button-background-color: #fff;
    --light-search-button-background-hover-color: #555;
    --light-search-button-border-color: #555;
    --light-search-button-border-hover-color: #fff;
    /* */

    /* dark mode variables (Better naming) :*/
    --light-background-color: #000000;
    --light-big-gray: #222;
    --light-film-card-desc: #000000;
    --light-contrast-over-background-very-small: #222;
    --light-contrast-over-background-small: #555;
    --light-contrast-over-background-medium: #707070;
    --light-contrast-over-background-large: #b9b9b9;
    --light-text-over-background: #d8d8d8;
    --light-inerted-background-color: #d8d8d8;
    --light-link-hover-color: #ff0000;
    --light-ig-color: #c13584;
    --light-ytb-color: #bb0000;
    --light-l3-color: #c98900;
    --light-l4-color: #0077b5;
    --light-l5-color: #06aa45;
    
    --light-singleCatalogueColor: #d8d8d8;
    --light-singleCatalogueBackgroundColor: #000000;
    --light-singleCatalogueBorderColor: #000000;
    --light-alt-singleCatalogueColor: #d8d8d8;
    --light-alt-singleCatalogueBackgroundColor: #000000;
    --light-alt-singleCatalogueBorderColor: #d8d8d8;

    --light-search-button-color: #707070;
    --light-search-button-hover-color: #ff0000;
    --light-search-button-background-color: #000;
    --light-search-button-background-hover-color: #000;
    --light-search-button-border-color: #707070;
    --light-search-button-border-hover-color: #ff0000;
    /* */
}