---
import '../styles/variables.css';
---

<section class="about-section">
    <h2>Qui suis-je&nbsp;?</h2>
    <p>
        Bonjour et bienvenue sur mon site internet. Je m'appelle <strong>Ethan Ledoux</strong> et je réalise des courts-métrages, dont un long-métrage filmé et diffusé au cinéma de ma ville
        (<a href="https://saintgenis17.fr/salle-jeanne-darc-st-genis-de-saintonge/" target="_blank">Salle Jeanne d'Arc, Saint-Genis-de-Saintonge</a>) :
        <em>Fan film JOKER FOLIE À DEUX</em>.
    </p>
    <p>
        Je suis le réalisateur, monteur et acteur de mes propres films, tournés avec mon smartphone, dont je fais également le montage.
        Je suis accompagné de ma famille et de mes amis qui me soutiennent dans cette aventure qui me fait rêver depuis <strong>3 ans</strong>.
    </p>
    <p>
        Mon rêve est d’intégrer le monde du <strong>cinéma</strong> en tant qu’acteur et réalisateur.
        Les films sont ma thérapie, ma manière de m’exprimer et la seule chose qui me fait vibrer.
        J’espère intégrer une école de cinéma ou être repéré par un directeur de casting.
        Je souhaite développer mes compétences afin d’évoluer dans ce milieu et être au-devant de la scène pour réaliser mon rêve et vivre ma passion chaque jour.
        <strong>Bon visionnage</strong>.
    </p>
</section>


<style>
    .about-section {
        padding: 20px;
        border-radius: 8px;
        max-width: var(--maxWidth);
        margin: 20px auto;
    }

    .about-section h2 {
        color: var(--light-contrast-over-background-large);
    }

    .about-section p {
        line-height: 1.6;
        color: var(--light-contrast-over-background-large);
    }
    
    @media (max-width: 768px) {
        .about-section {
            padding: 20px;
            padding-top: 40px;
            padding-bottom: 0px;
        }
    }
</style>