---
import '../styles/variables.css';
---

<footer>
    <div class="header">
        <img src={"https://drive.google.com/thumbnail?id="+"1C5MhnN3owNgSTT8hgGS2nw8yzfZ7x_XF"+"&sz=w1000"} alt="Background" class="background" loading="lazy" />
        <div class="content">
            <h1 class="header-title">2025  Jokhan Film Production</h1>
            <p>Contenu par <strong>Ethan Ledoux</strong> / Site par <strong>Corentin Cottereau</strong></p>
        </div>
    </div>
</footer>

<style>
    footer {
        position: relative;
        padding: 100px 10px;
        text-align: center;
        color: var(--light-contrast-over-background-very-small);
        z-index: 1;
    }
    
    footer .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(var(--imageAlpha));
        z-index: -1;
    }

    footer .content {
        color: white;
    }

    footer .content .header-title {
        margin: 0;
        font-size: 2.5em;
    }

    footer .content p {
        font-size: 1.2em;
    }

    .navigation-menu {  
        height: 0;
        display: grid;
        justify-content: center;
    }

    .navigation-menu nav {  
        text-align: center;
        background: var(--light-big-gray);
        padding: 10px 15px;
    }

    .navigation-menu nav a.button {
        display: inline-block;
        padding: 10px 20px;
        color: var(--light-inerted-background-color);
        text-decoration: none;
        border-radius: 5px;
        margin-right: 10px;
    }

    .navigation-menu nav a.button:hover {
        color: var(--light-link-hover-color);
    }
    
    /* If media screen is less than 768px, stack the columns */
    @media (max-width: 768px) {
        .navigation-menu {
            display: none;
        }
    }
</style>