---
import '../styles/variables.css';
import background from '../assets/placeholder.webp';
---

<div class="navigation-menu" style="margin-top: 40px;">
    <nav style="transform: translateY(-50%);">
        <a href="/" class="button">ACCUEIL</a>
        <a href="/catalogue" class="button">MES FILMS</a>
        <a href="/contact" class="button">CONTACT</a>
    </nav>
</div>
<footer>
    <div class="header">
        <img src={background.src} alt="Background" class="background" loading="lazy" />
        <div class="content">
            <h1 class="header-title">TITRE DU SITE</h1>
            <p>Titre titre, titre titre, titre titre, titre titre</p>
        </div>
    </div>
</footer>

<style>
    footer {
        position: relative;
        padding: 100px 10px;
        text-align: center;
        color: var(--colorWhite);
    }
    
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .header-title {
        margin: 0;
        font-size: 2em;
    }

    .navigation-menu {  
        height: 0;
        display: grid;
        justify-content: center;
}

    .navigation-menu nav {  
        text-align: center;
        background: var(--colorTertiary);
        padding: 10px 15px;
    }

    a.button {
        display: inline-block;
        padding: 10px 20px;
        color: var(--colorWhite);
        text-decoration: none;
        border-radius: 5px;
        margin-right: 10px;
    }

    a.button:hover {
        color: var(--linkHover);
    }
    
</style>