---
import '../styles/variables.css';
import background from '../assets/placeholder.webp';
---

<header>
    <div class="header">
        <img src={background.src} alt="Background" class="background" />
        <div class="content">
            <h1 class="header-title">TITRE DU SITE</h1>
            <p>Titre titre, titre titre, titre titre, titre titre</p>
        </div>
    </div>
</header>
<div class="navigation-menu">
    <nav style="transform: translateY(-50%);">
        <a href="/" class="button">ACCUEIL</a>
        <a href="/catalogue" class="button">MES FILMS</a>
        <a href="/contact" class="button">CONTACT</a>
    </nav>
</div>

<style>
    header {
        position: relative;
        padding: 100px 10px;
        text-align: center;
        color: var(--light-contrast-over-background-very-small);
        z-index: 0;
    }
    
    header .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(var(--imageAlpha));
    }

    header .content .header-title {
        margin: 0;
        font-size: 2em;
    }

    .navigation-menu {  
        height: 0;
        display: grid;
        justify-content: center;
        z-index: 2;
    }

    .navigation-menu nav {  
        text-align: center;
        background: var(--light-contrast-over-background-medium);
        padding: 10px 15px;
    }

    .navigation-menu nav a.button {
        display: inline-block;
        padding: 10px 20px;
        color: var(--light-contrast-over-background-very-small);
        text-decoration: none;
        border-radius: 5px;
    }

    .navigation-menu nav a.button:hover {
        color: var(--light-link-hover-color);
    }
    
</style>