---
import '../../styles/variables.css';
import { getSiteConfig } from '../../lib/pocketbase';

const siteConfig = await getSiteConfig();
const html = siteConfig?.top_description ?? '';
---

<section class="about-section" set:html={html}></section>

<style>
    .about-section {
        padding: 20px;
        border-radius: 8px;
        max-width: var(--maxWidth);
        margin: 20px auto;
    }

    .about-section :global(h2) {
        color: var(--light-contrast-over-background-large);
    }

    .about-section :global(p) {
        line-height: 1.6;
        color: var(--light-contrast-over-background-large);
    }

    .about-section :global(a) {
        color: red;
    }

    .about-section :global(a:hover) {
        color: darkred;
    }

    @media (max-width: 768px) {
        .about-section {
            padding: 20px;
            padding-top: 40px;
            padding-bottom: 0;
        }
    }
</style>
