---
import '../styles/variables.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import DarkModeToggle from '../components/DarkModeToggle.astro';
import Favicon from '../assets/favicon.png'
import { getSiteConfig } from '../lib/pocketbase';

const siteConfig = await getSiteConfig();
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="google-site-verification" content="EoONZoXDhO63Qlj9OVtc6MqW1O-jzZ36hJ_qlQLjbS4" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={Favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<title>JOKHAN FILM PRODUCTION</title>
	</head>
	<body>
		<DarkModeToggle />
		<Header siteConfig={siteConfig} />
		<main>
			<slot />
		</main>
		<Footer siteConfig={siteConfig} />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
        font-family: var(--fontFamily);
		background-color: var(--light-background-color);
	}
</style>
